@model IEnumerable<Payroll.Models.DeductionViewModels>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deductions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
{
    //columns.Add(c => c.DeductionId).Titled("Deduction Id").Filterable(true);
    columns.Add(c => c.DeductionName).Titled("Deduction Name").Filterable(true);
    columns.Add(c => c.DeductionValue).Titled("Amount").Filterable(true);
    //columns.Add(c => c.DeductionDescription).Titled("Deduction Description");
    columns.Add(c => c.Active).Titled("Status");
    columns.Add(c => c.Order).Titled("Order");
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.DeductionId }));

}).WithPaging(20).Sortable(true)
</div>